body{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    padding-top:20px;
    background:#eee;
}

/* -------------- Main boxes ------------------- */
div.contentbox{
    background:#fcfcfc;
    max-width:50em;
    margin:auto;
    -webkit-box-shadow: 0px 0px 5px #aaa;
    -moz-box-shadow:    0px 0px 5px #aaa;
    box-shadow:         0px 0px 5px #aaa;
    padding: 1em 3em;
    margin-bottom:1em;
}
div.content{
    padding:3em;
}
div.toc{
}
div.linktotop a{
    display: block;
    text-align: center;
}
/* ---------- Table of contents ---------------- */
div.toc .tocheader{
    display: block;
    font-size: 110%;
    text-align: center;
}
div.toc ul{
    padding: 0px;
    margin:  0px;
}
div.toc li{
    list-style-type: none;
    padding: 0px 8px;
}
div.toc li:hover{
    background: #ddd;
}
div.toc li.tocthis{
    background: #dde;
    border: 1px solid #bbc;
}
div.toc a{
    padding: 2px 0px;
    text-decoration: none;
    color: black;
    display:inline-block;
    width:100%;
    height:100%;
}

/* ----------------- Content ------------------- */
h1,h2,h3{
    font-family: Helvetica, sans;
}
h1 {
    color: #997722;
    font-weight:200%;
    text-align: center;
}

p,ul{
    text-align:justify;
    line-height:150%;
}

pre{
    background:#f5f5f5;
    padding: 1em 1em 1em 1em;
    font-family:Consolas, DejaVu Sans, Courier, monospace;
    font-size:90%;
    overflow:auto;
    margin:0.2em 0;
}

a{
    text-decoration: none;
    color: #22d;
}
a:hover{
    text-decoration: underline;
}

pre.output, body>pre{
    border: 1px solid #eee;
}

pre.sourceCode{
    max-height:700px;
    background:#fbfbe4;
    resize: vertical;
}

div.sourceCode{
    border: 1px solid #fbfbe4;
}

.math{
    text-align: center;
}

pre code{
    background: none;
    border: none;
}
 
p code{
    background: #fbfbd4;
    border: 1px solid #f0f0d0;
    padding: 0px 2px;
}

p img{
    display: block;
    margin: auto;
}

img.plot{
    border: 1px solid #444;
}
thead{
    background: #FAFAFA;
    padding: 5px;
}

td{
    border-bottom: 1px solid #EEE;
    padding: 5px 10px;
}



