body{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    padding-top:20px;
    background:#ddd;
}

div.content{
    background:#efefef;
    max-width:50em;
    margin:auto;
    padding:3em;
    -webkit-box-shadow: 0px 0px 5px #aaa;
    -moz-box-shadow:    0px 0px 5px #aaa;
    box-shadow:         0px 0px 5px #aaa;
}

p{
    text-align:justify;
    line-height:150%;
}

pre{
    background:#f9f9f9;
    padding: 1em 1em 1em 1em;
    font-family:Consolas, DejaVu Sans, Courier, monospace;
    font-size:90%;
    overflow:auto;
    max-height:500px;
    margin:0.2em 0;
}
pre.output, body>pre{
    border: 1px solid #EEE;
}
.sourceCode{
    background:#F9F9E4;
}
div.sourceCode{
    border: 1px solid #E9E9D4;
}

h1,h2,h3{
    font-family: Helvetica, sans;
}
h1 {
    color: #997722;
    font-weight:200%;
    text-align: center;
}

.math{
    text-align: center;
}


code {
    background: #FAFAFA;
    border: 1px solid #F0F0F0;
    padding: 1px 5px;
}
pre code{
    background: none;
    border: none;
}

thead{
    background: #FAFAFA;
    padding: 5px;
}
td{
    border-bottom: 1px solid #EEE;
    padding: 5px 10px;
}

div.tocbar{
	background: #eed;
	height: 2em;
	width:100%;
	top:0;
	left:0;
	vertical-align: middle;
	border: 1px solid #666;
	position:fixed;
    text-align:center;
}
.tocbar span{
	position:absolute;
    display:box;
	height:90%;
    margin: 2px auto;
	padding:0px 5px;
    background:#ddc
}
.tocbar span:hover{
	background:#dde;
}
.tocbar a{
	color: black;
}

/* Table of contents 
 * =================
 * */
#TOC{
    position:fixed;
    right: 0;
    top: 0;
    background: white;
    box-shadow: 0px 0px 1em #777;
    border: 1px solid #CCC;
    max-height:90vh;
    overflow:auto;
    padding: 5px 10px;
}


#TOC:hover{
    padding:5px 20px ;
}

#TOC:hover > ul{
    display: block;
}


#TOC a{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom:2px;
    color: black;
}

#TOC a:hover{
    color: black;
    background: #EEEEEE;
}

#TOC > ul {
    display:none;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
}
#TOC > ul > li{
    background: #FDFDFD;
    border: 1px solid #F3F3F3;
    padding: 2px;
    margin: 4px 0px;
}
#TOC > ul > li > a{
    color:black;
    font-weight:bold;
    font-size:110%;
}

#TOC > ul > li > ul{
    line-height:2em;
}

#TOC > ul > li > ul > li{
    /*display: inline;*/
    line-height:130%;
}
#TOC > ul > li > ul > li > a{
    /*background:#F9F9F9;*/
    /*border: 1px solid #F3F3F3;*/
    margin: 0px 5px;
}

#TOC_header{
    font-size:16px;
    font-family: Georgia, Serif ;
    font-weight: bold;
    text-align: center;
    padding: 3px 5px 3px 5px;
}


